<br>
<center><font color="white"><h1>Entrar</h1></font>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h4><font color="white"><%= f.label :email %><br /></h4></font>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <h4><font color="white"><%= f.label :senha %><br /></h4></font>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <font color="white"><%= f.label :lembrar %></font>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Entrar" %>
  </div>
<% end %>
<br>
<%= render "usuarios/shared/links" %></center>
