<% if comentario.usuario != nil %>
<table width="600" border="1">
	<tr>
	<th width="400"><p><font color="#F7820C"><%= comentario.usuario.email %></font>
	<%= comentario.content %></p></th>
	<th width="100">
	<% if ((comentario.usuario == current_usuario) || current_usuario.try(:admin?)) %>
		<%= button_to "Deletar", [comentario.produto, comentario], method: :delete, data: { confirm: "Are you sure you want to do this?"}%></th>
		<th width="100"><%= button_to "Editar", edit_produto_comentario_path(comentario.produto, comentario), :method => :get %>
	<% end %>
</th></tr></table>	
<% else %>	
	<% comentario.destroy %>
	<% $contador = @produto.comentarios.count - 1 %>
<% end %>



