<% if usuario_signed_in? %>
	<%= form_for([@produto, @produto.comentarios.build]) do |f| %>
	<table width="600">
		<th width="400"><%= f.text_area :content %></th>
		<th width="200"><%= f.submit "      Comentar       "%></th>
	</table>	
	<% end %>
<% end %>	