<center><font color="white"><h1>Seu Carrinho</h1></font></center>
<br><br>
<%if @carrinho.empty? %>
	<center><p><font color="white">Seu carrinho está vazio!</font></p>
	<br>
	<%= link_to 'Produtos', produtos_path %> &emsp;
	<%= link_to 'Home', root_path %>
	
<% else %>	
	<center><%= link_to 'Limpar carrinho', carrinho_limpar_path %> &emsp;
	<%= link_to 'Finalizar Compra', carrinho_limpar_path, data: { confirm: 'Deseja mesmo Finalizar a Compra ?' } %> &emsp;
	<%= link_to 'Adicionar Novo Produto', produtos_path %></center>

<% end %>
<br>
<th><font color="white"><% total = 0 %></font></th>	
<ul>
<% @carrinho.each do | id, quantity | %>
	<center><table width="1000" border="1">
	<% produto = Produto.find_by_id(id) %>
	<tr>	
		<th width="250"><font color="white"> Título </font></th> 
		<th width="250"><font color="white"> Descrição </font></th>
		<th width="250"><font color="white"> Valor </font></th>
		<th width="250"><font color="white"> Quantidade </font></th>
	</tr>
	<tr>	
		<th><%= link_to produto.titulo, produto %></th>
		<th><p><font color="white"><%= produto.descricao %></font></p></th>
		<th><p><font color="white"><%= number_to_currency(produto.valor, :unit => 'R$') %></font><p></th>
		<th><font color="white"><p><%= quantity %></p></p></th></table>	
	<% total += quantity * produto.valor %><
<% end %>
<br>
<table width="1000" border="1">
	<th width="500"><font color="white"> Total </font></th>
	<th width="500"><font color="white"><p><%= number_to_currency(total, :unit => 'R$') %></p></font></th></tr>
</table></center>
</ul>
</center>

	
