<p id="notice"><%=notice %></p>

<% if ((@usuario == current_usuario) || current_usuario.try(:admin?)) %>

<center><h1><font color="white">Lista de Usuários</h1></font></center>
<br>
<center><table width="600" border="1">
	<thead>
		<tr>
			<th width="300"><font color="white">email</th></font>
			<th width="150"><font color="white">tipo de usuário</th></font>
			<th width="150"><font color="white">última visita</th></font>
		</tr></font>

	</thead>

	<tbody>
		<% @usuarios.each do |usuario| %>
			<tr>	
				<td><font color="white"><%= usuario.email %></td></font>
				<td><font color="white"><%= usuario.role %></td></font>
				<td><font color="white"><%= usuario.last_sign_in_at %></td></font>
			</tr>
		<%end%>
	</tbody>
</table></center>

<% end %>
