<br>
<center><font color="white"><h1>Editar <%= resource_name.to_s.humanize %></font></h1> 
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h4><font color="white"><%= f.label :email %><br /></h4></font>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <h4><font color="white"><%= f.label :senha %><br /></h4></font>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><font color="white"><%= @minimum_password_length %> caracteres mínimos</em></font>
    <% end %>
  </div>

  <div class="field">
    <h4><font color="white"><%= f.label :confirme_sua_senha %><br /></h4></font>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <h4><font color="white"><%= f.label :senha_atual %><br /></h4></font>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>
<br>
<%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %>
<br>
<%= link_to "Voltar", root_path %></center>
