<br>
<center><font color="white"><h1>Cadastrar</h1></font>
<br>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <h4><font color="white"><%= f.label :email %><br /></h4></font>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <h4><font color="white"><%= f.label :senha %></h4></font>
    <% if @minimum_password_length %>
    <em><font color="white"><%= @minimum_password_length %> caracteres mínimos</em></font>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <h4><font color="white"><%= f.label :confirme_sua_senha %><br /></h4></font>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Cadastrar" %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %></center>
