<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="nav">
	<div id="jogos_nav">
		<%= image_tag "logo.png", width: 140 %> 

		<font size = "4"><%= link_to "Home", root_path %>
		<%= link_to "Produtos", produtos_path %>
		<%= link_to "Sobre", jogos_sobre_path %>
		<% if usuario_signed_in? %>
			<% if (current_usuario.try(:admin?)) %>
				<%= link_to "Controle de Usuarios", controle_usuarios_index_path %>
			<% end %>		
		<% end %></font>	
	</div>
	<br>

	<div id="entrar">	
		<% if usuario_signed_in? %>
			<font size = "4"><%= link_to "Minha Conta", edit_usuario_registration_path %>	
			<%= link_to "Sair", destroy_usuario_session_path, method: :delete %></font>
		<% else %>	
			<font size = "4"><%= link_to "Entrar", new_usuario_session_path %>
			<%= link_to "Cadastrar", new_usuario_registration_path %>
		<% end %></font>
	</div>
</nav>
	
<div id="main_wrap">	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
<br><br>
<footer class="container-fluid text-center">
  <center><font color="red"><p>Powered Filipe e Igor </a></p></font></center>
</footer>
</html>
