<p id="notice"><%= notice %></p>
<!DOCTYPE html>
<html>
<head>
<center><font color="white"><h1> Bem Vindo! </h1></font>
</head>
<br><br><br>
<body>
	<font color="#F7820C"><h1> Mais Aguardados! </h1></font>
	<br>
	<table width="1000" border="1", bordercolor="#F7820C">
		<th width="500"><%= image_tag "resident.jpg", width: 500 %></th>
		<th width="500"><font color="#F7820C"><h1> Resident Evil 7: Biohazard </h1>
		<br><br>
		<font size="5">Um dos jogos de survival horror mais famosos está de volta!</font>
		<br><br>
		<font color="red" size="3">Confira o trailer aqui: </font>
		<br>
		<a HREF="https://www.youtube.com/watch?v=uKxT3rTF1jI" TARGET="_blank" ><font color="white"> Trailer </a></th>
	</table>
		<table width="1000" border="1", bordercolor="#F7820C">
		<th width="500"><font color="#F7820C"><h1> Horizon Zero Dawn </h1>
		<br><br>
		<font size="5">Preparado para batalhar em um mundo devastado?</font>
		<br><br>
		<font color="red" size="3">Confira o trailer aqui: </font>
		<br>
		<a HREF="https://www.youtube.com/watch?v=_qER0Vtug_0" TARGET="_blank" ><font color="white"> Trailer </a></th>
		<th width="500"><%= image_tag "horizon.jpg", width: 500 %></th>
	</table>
		<table width="1000" border="1", bordercolor="#F7820C">
		<th width="500"><%= image_tag "honor.jpg", width: 500 %></th>
		<th width="500"><font color="#F7820C"><h1> For Honor </h1>
		<br><br>
		<font size="5">Samurais, Vikings ou Cavaleiros Medievais. De que lado você está?</font>
		<br><br>
		<font color="red" size="3">Confira o trailer aqui: </font>
		<br>
		<a HREF="https://www.youtube.com/watch?v=qt_hdlbRMNM" TARGET="_blank" ><font color="white"> Trailer </a></th>
	</table>
</body></center>
<br><br>
</html>


