<!DOCTYPE html>
<html>
<head>
<center><font color="white"><h1>Sobre o Site</h1></font>
</head>
<body>
<br>
<table width="500" border="1" bordercolor="#F7820C" ><th><font color="white"> Esse site possui o intuito de facilitar a distribuição de jogos digitais para usuários apaixonados. O site possui diferentes tipos de jogos eletrônicos para os mais variados gostos e é possível realizar a compra de vários títulos extremamente divertidos e empolgantes.
O site foi desenvolvido por dois estudandes de Engenharia de Software da Universidade de Brasília.</th><font></center></table>
<br>

<table width="500" border="1" bordercolor="#F7820C">
<th><font color="white" size="3" face="Times New Roman">
Filipe Coelho é um estudante de Engenharia de Software da Universidade de Brasília
 e jogador nas horas vagas.
 </th>
 <th width="200">
<%= image_tag "Filipe.jpg", width: 200 %>
</th></table>

<table width="500" border="1" bordercolor="#F7820C" >
<th width="200"><font color="white">
<%= image_tag "Igor.jpg", width: 200 %>
</th></font>
<th><font color="white" size="3" face="Times New Roman">
Igor Araújo é um estudante de Engenharia de Software da Universidade de Brasília
 e jogador nas horas vagas.
</th></font></center></table>
</body>
</html>

