<p id="notice"><%= notice %></p>
<br>
<center><font color="white"><h1>Lista de Produtos</h1></font></center>
<br>
<center><table width="1000" border="5" bordercolor="#F7820C" bgcolor="#262626">
  <thead>
    <tr>
      <th width="300"><font color="white">Jogo</th></font>
      <th width="100"><font color="white">Titulo</th></font>
      <th width="100"><font color="white">Valor</th></font>
      <th width="100"><font color="white">Categoria</th></font>
       
    </tr>
  </thead>

  <body>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= image_tag   produto.imagem_url, width: 300 %></td>
        <td><font color="white"><center><%= produto.titulo %></center></td></font>           
        <td><font color="white"><center> R$ <%= produto.valor %></center></td></font>
        <td><font color="white"><center><%= produto.categoria %></center></td></font>
        <td><font color="white"><center><%= link_to 'Mostrar', produto %></center></td></font>
        <% if usuario_signed_in? %>
          <% if ((@usuario == current_usuario) ||  current_usuario.try(:admin?)) %>
            <td><center><%= link_to 'Editar', edit_produto_path(produto) %></center></td>
            <td><center><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Você tem certeza?' } %></center></td>
          <% end %>
        <% end %>  
        <td><center><a href="/carrinho/<%= produto.id %>" > Adicionar ao Carrinho</a></center></td>
      </tr>
<br>
    <% end %>
  </tbody>
</table></tr></body></table>

<br>
<% if usuario_signed_in? %>
  <% if ((@usuario == current_usuario) ||  current_usuario.try(:admin?)) %>
    <%= link_to 'Novo Produto', new_produto_path %>
  <% end %>
<% end %>
<br><br><br>
