<p id="notice"><%= notice %></p>
<center><h1><font color="white">Sobre o produto</h1></font></center>
<br><br>
<p>
  <h3><font color="white">Titulo:</h3>
  <h3><%= @produto.titulo %></h3>
</p>
<table width="600" border="1" bgcolor="#F7820C">
<th>
  <%= image_tag @produto.imagem_url, width: 600 %>
</th>
</table>
<br>
<p>
<strong>Descrição:</strong>
  <%= @produto.descricao %>
</p>
<p>
  <strong>Valor: R$ </strong>
  <%= @produto.valor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @produto.subcategoria %>
</p></font>
<br>
<% if usuario_signed_in? %>
  <% if ((@usuario == current_usuario) ||  current_usuario.try(:admin?)) %>
    <%= link_to 'Editar', edit_produto_path(@produto) %> 
  <% end %>
<% end %> 
<br><br>
<font color="white"><% $contador = @produto.comentarios.count  %>
<h3><b> <%= $contador %>  Comentários: </b></h3> 
<br>
<%= render @produto.comentarios %>
<br>
<%= render "comentarios/form" %>
</font>     
<%= link_to 'Voltar', produtos_path %>
<br><br><br><br>